:root {
  --tomato: #dd5236;
  --tangerine: #e5683f;
  --banana: #e1b54f;
  --basal: #489160;
  --sage: #56b080;
  --peacock: #4d99d3;
  --blueberry: #6f72c2;
  --lavender: #828bc2;
  --grape: #a75aba;
  --flamingo: #d7837a;
  --graphite: #7c7c7c;
  --blues: #4d99d3;
}
