:root {
  --padding: 15px;
  --text-col: #fff;
  --date-col: #000;
  --bg: #f8f8f8;
  --debug-bg: #fff0;
}

body, html, container {
  font-size: 20px;
  background-color: var(--bg);
  font-family: "roboto";
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: var(--padding);
  margin-top: calc(var(--padding) / 2);
  padding-left: 0;
}

.week {
  font-size: 0.48em;
}
.day {
  font-size: 1.1em;
}
.date {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
  min-width: 65px;
  max-width: 100px;
  max-height: 60px;
  padding-top: 6px;
  color: var(--date-col);
  font-family: 'Montserrat';
  padding-left: 0;
}

.events {
  font-size: 15px;
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  flex-flow: space-between;
  gap: var(--padding);
}
.pad-left {
  margin-left: var(--padding);
}

.event {
  background-color: var(--flamingo);
  border-radius: 13px;
  padding: 8px;
  padding-left: var(--padding);
  color: var(--text-col);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-col);
}

.event > .sub {
  font-size: 1.0em;
  font-weight: 500;
  max-width: 80%;
  background-color: var(--debug-bg);
  padding: 5px 0 0 0;
  align-self: start;
  margin: auto 0;
}

.sub > .header {
  margin: 0;
  font-size: 1.135em;
}

.sub > .adds {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  max-width: 99%;
  font-weight: 400;
  font-size: .9em;
  padding-left: 5px;
    background-color: var(--debug-bg);
}

.event > .time {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--debug-bg);
  max-width: 70px;
  max-height: 60px;
  min-height: 40px;
  position: relative;
  text-align: center;
  font-weight: 400;
  padding: 3px;
}

.time > .start:after {
  content: "";
  position: absolute;
  width: 1.4px;
  height: 10px;
  background-color: var(--text-col);
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
}
.time > .end {
  margin-top: 1.3em;
}

ul {
  margin: 0;
  margin-top: 3px;
  margin-left: -20px;
  margin-bottom: 6px;
  width: 100%;
}
.no-arr {
  font-size: 1.11em;
  font-weight: 500;
  background-color: var(--debug-bg);
  margin-right: calc(var(--padding)/2);
}
.no-arr:after {
  display: none;
}
